<div>
    
        <h1>{{booksId.title}}</h1>
        <span>Written by: {{booksId.author}}</span>
        <p>Summary: {{booksId.description}}</p>
        <p>Rating: {{booksId.rating}}/10</p>
        <a href="/books">Return</a>

</div>